extends linimasa.pug
block body-css

block body-js

block body-script
    :babel(presets=['es2015'])

block nav
    nav.nav 
        a(href='index.html')!= logo
        a(href='linimasa.html') Linimasa
        a(href='dapurproduksi.html').is-active Dapur Produksi

block content
    .content 
