extends linimasa.pug
block body-css

block body-js

block nav
    nav.nav 
        a(href='index.html')!= logo
        a(href='linimasa.html') Linimasa
        a(href='dapurproduksi.html').is-active Dapur Produksi

block content
    section.section
        .content 
