extends _layout/_master.pug
block body-css

block body-js

block body-script
    :babel(presets=['es2015'])


block body
    header.logo
    section.content
        section.content__statement gimana keadaan kamu saat ini?
        section.content__answers
            form
                label
                    input(type='radio' name='feeling' value='tear' data-icon='f622')
                    i.icon.e-f622.mui-enter
                label
                    input(type='radio' name='feeling' value='sleepy' data-icon='f634')
                    i.icon.e-f634.mui-enter
                label
                    input(type='radio' name='feeling' value='sleepy' data-icon='f629')
                    i.icon.e-f629.mui-enter
                label
                    input(type='radio' name='feeling' value='sad' data-icon='f61e')
                    i.icon.e-f61e.mui-enter
    .choosen-radio.mui-enter
        .icon