extends _layout/_master.pug
block body-css

block body-js

block body-script
    :babel(presets=['es2015'])


block body
    header
        .logo
        a(href='#') jangan klik!
    section.content
        section.content__statement gimana keadaan kamu saat ini?
        section.content__answers
            form
                label
                    input(type='radio' name='feeling' value='tear')
                    i.icon.e-f622
                label
                    input(type='radio' name='feeling' value='sleepy')
                    i.icon.e-f634
                label
                    input(type='radio' name='feeling' value='sleepy')
                    i.icon.e-f629
                label
                    input(type='radio' name='feeling' value='sad')
                    i.icon.e-f61e