extends _layout/_master.pug
block body-css

block body-js

block body-script
    :babel(presets=['es2015'])


block body
    .main
        .main__center
            .main__logo
            .main__text