extends index.pug
block body-css

block body-js

block body-script
    :babel(presets=['es2015'])

block nav
    nav.nav
        a(href='index.html')!= logo
        a(href='linimasa.html').is-active Linimasa
        a(href='dapurproduksi.html') Dapur Produksi

block content
    .content 

block footer
