extends index.pug
block body-css

block body-js

block body-script
    :babel(presets=['es2015'])
        const animateHeader = (debugTxt='')=>{
            const nav = document.querySelector('nav');
            let lastFile = document.referrer.split('/');
            lastFile = lastFile[lastFile.length-1].trim();            
            const isFromIndex = lastFile.length === 0 || lastFile === 'index.html'

            if(isFromIndex){
                nav.querySelector('a:first-child').classList.add('animated','slideInLeftVisible');
                nav.classList.add('animated','slideInLeftLogo');
            }else{
                nav.querySelector('a:first-child').classList.add('slideInLeftVisible');
                nav.classList.add('noSlideInLeftLogo');
            }
        }
        animateHeader('ready');


block nav
    nav.nav
        a(href='index.html')!= logo
        a(href='linimasa.html').is-active Linimasa
        a(href='dapurproduksi.html') Dapur Produksi

block content
    .content 

block footer
