extends index.pug
block body-css

block body-js

block body-script
    :babel(presets=['es2015'])
        const animateHeader = (debugTxt='')=>{
            if(isFromIndex){
                $logo.classList.add('animated','slideInLeftVisible');
                $nav.classList.add('animated','slideInLeftLogo');
            }else{
                $logo.classList.add('slideInLeftVisible');
                $nav.classList.add('noSlideInLeftLogo');
            }
        }
        animateHeader('ready');


block nav
    nav.nav
        a(href='index.html')!= logo
        a(href='linimasa.html').is-active Linimasa
        a(href='dapurproduksi.html') Dapur Produksi

block content
    section.section
        .content 

block footer
