$icomoon-font-path: "fonts" !default;

$e-f60a: "\e900";
$e-f60b: "\e901";
$e-f60c: "\e902";
$e-f60d: "\e903";
$e-f60e: "\e904";
$e-f60f: "\e905";
$e-f61a: "\e906";
$e-f61b: "\e907";
$e-f61c: "\e908";
$e-f61d: "\e909";
$e-f61e: "\e90a";
$e-f61f: "\e90b";
$e-f62a: "\e90c";
$e-f62b: "\e90d";
$e-f62c: "\e90e";
$e-f62d: "\e90f";
$e-f62e: "\e910";
$e-f62f: "\e911";
$e-f63a: "\e912";
$e-f63b: "\e913";
$e-f63c: "\e914";
$e-f63d: "\e915";
$e-f63e: "\e916";
$e-f63f: "\e917";
$e-f64a: "\e918";
$e-f64b: "\e919";
$e-f64d: "\e91a";
$e-f64e: "\e91b";
$e-f590: "\e91c";
$e-f595: "\e91d";
$e-f596: "\e91e";
$e-f600: "\e91f";
$e-f601: "\e920";
$e-f602: "\e921";
$e-f603: "\e922";
$e-f604: "\e923";
$e-f605: "\e924";
$e-f606: "\e925";
$e-f607: "\e926";
$e-f608: "\e927";
$e-f609: "\e928";
$e-f610: "\e929";
$e-f611: "\e92a";
$e-f612: "\e92b";
$e-f613: "\e92c";
$e-f614: "\e92d";
$e-f615: "\e92e";
$e-f616: "\e92f";
$e-f617: "\e930";
$e-f618: "\e931";
$e-f619: "\e932";
$e-f620: "\e933";
$e-f621: "\e934";
$e-f622: "\e935";
$e-f623: "\e936";
$e-f624: "\e937";
$e-f625: "\e938";
$e-f626: "\e939";
$e-f627: "\e93a";
$e-f628: "\e93b";
$e-f629: "\e93c";
$e-f630: "\e93d";
$e-f631: "\e93e";
$e-f632: "\e93f";
$e-f633: "\e940";
$e-f634: "\e941";
$e-f635: "\e942";
$e-f636: "\e943";
$e-f637: "\e944";
$e-f638: "\e945";
$e-f639: "\e946";
$e-f640: "\e947";
$e-f641: "\e948";
$e-f642: "\e949";
$e-f643: "\e94a";
$e-f644: "\e94b";
$e-f645: "\e94c";
$e-f646: "\e94d";
$e-f647: "\e94e";
$e-f648: "\e94f";
$e-f649: "\e950";
$e-f910: "\e951";
$e-f911: "\e952";
$e-f912: "\e953";
$e-f913: "\e954";
$e-f914: "\e955";
$e-f915: "\e956";
$e-f916: "\e957";
$e-f917: "\e958";
$e-f918: "\e959";
$e-f922: "\e95a";
$e-f923: "\e95b";
$e-f924: "\e95c";
$e-f925: "\e95d";
$e-f926: "\e95e";
$e-f927: "\e95f";
$e-2639: "\e960";

