.logo {
    $size: 26px;
    width: $size;
    height: $size;
}

.hide {
    display: none;
}
$header-height: 62px;
.content {
    background: rgb(207,216,221);
    height: calc(100% - #{$header-height});
    @include m(index) {
        background: #fff;
    }

    p {
        text-align: justify;
    }

    em {
        color: red;
        font-style: normal;
        font-weight: bold;
    }
}
