.logo {
    $size: 26px;
    width: $size;
    height: $size;
}

.hide {
    display: none;
}
$header-height: 62px;
.section:not(.section--index) {
    background-color: rgb(207,216,221);
    height: calc(100% - #{$header-height});
}

.content {
    p {
        text-align: justify;
    }

    em {
        color: red;
        font-style: normal;
        font-weight: bold;
    }
}
