.logo {
    $size: 26px;
    width: $size;
    height: $size;
}

.hide {
    display: none;
}

.content {
    background: rgb(207,216,221);
    height: calc(100vh - 80px);
    @include m(index) {
        background: #fff;
        height: 100%;
        @include breakpoint(portrait) {
            margin: 2rem 0;
        }
    }

    p {
        text-align: justify;
    }

    em {
        color: red;
        font-style: normal;
        font-weight: bold;
    }
}
