footer {

    .logo {
        $size: 6rem;
        width: $size;
        height: $size;
        margin: 0 auto;
        display: block;

        // &:after{
        //   content:' ';
        //   display: block;
        //   width: $size+1rem;
        //   height: $size+1rem;
        //   border: thin solid #000;
        //
        //   position: absolute;
        //   left:0;
        //   top:0;
        //   background: black;
        // }
    }
}
