footer {
    $size: 3rem;

    $circle-factor: 4rem;
    .logo_container {
        position: relative;
        width: $size+$circle-factor;
        height: $size+$circle-factor;
        margin: 0 auto;
        position: relative;
        &:before {
            content: ' ';
            z-index: -1;
            display: block;
            width: $size+$circle-factor;
            height: $size+$circle-factor;
            border: medium solid #000;
            border-radius: 50%;
            position: absolute;
            left: calc(50% - #{$size/2 + $circle-factor/2} );
            top: calc(50% - #{$size/2+ $circle-factor/2} );
            background-color: #000;
        }
    }

    .logo {
        display: block;
        width: $size;
        height: $size;
        @include absolute-center;
    }


}
