header {
    padding: 1rem;

    .logo {
        display: inline-block;
        @include vertical-center;
    }

    .nav {
        @include clearfix;
        animation-duration: 300ms;
        transform: translate3d(-64px,0,0);
        @include m(index) {
            transform: translate3d(0,0,0);
        };
    }

    a {
        text-decoration: none;
        color: #000;
        margin: 0 0.5rem;
        position: relative;
        font-size: 14px;

        &:first-child {
            margin-left: 0;
            width: 22px;
            animation-duration: 200ms;
        }
        @include is(active) {
            &:after {
                content: '';
                background: #000;
                display: block;
                height: 2px;
                position: absolute;
                bottom: 0.125rem;
                left: 0;
                width: 100%;
            }
        };
        $height: 30px;
        height: $height;
        line-height: $height;
        float: left;
        display: block;
    }
}

.slideOutLeftLogo {
    animation-name: slideOutLeftLogo;
}

.slideInLeftLogo {
    animation-name: slideInLeftLogo;
}

.slideOutLeftVisible {
    animation-name: slideOutLeftVisible;
}

.slideInLeftVisible {
    animation-name: slideInLeftVisible;
}

.noSlideInLeftLogo {
    transform: translate3d(0,0,0) !important;
}
$slide: -38px;

.noSlideOutLeftLogo {
    transform: translate3d($slide,0,0) !important;

    a:first-child {
        visibility: hidden;
    }
}
@keyframes slideOutLeftVisible {
    0% {
        visibility: visible;
    }

    to {
        visibility: hidden;
    }
}
@keyframes slideInLeftVisible {
    0% {
        visibility: hidden;
    }

    to {
        visibility: visible;
    }
}
@keyframes slideOutLeftLogo {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }

    to {
        transform: translate3d($slide,0,0);
    }
}
@keyframes slideInLeftLogo {
    0% {
        transform: translate3d($slide,0,0);
        // visibility: visible
    }

    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}
