header {
    .logo {
        display: inline-block;
    }

    .nav {
        @include clearfix;
        animation-duration: 300ms;
        transform: translate3d(-64px,0,0);
        @include m(index) {
            transform: translate3d(0,0,0);
        };
    }

    a {
        text-decoration: none;
        color: #000;
        margin: 0 0.5rem;
        position: relative;

        &:first-child {
            margin-left: 0;
        }
        @include is(active) {
            &:after {
                content: '';
                background: #000;
                display: block;
                height: 0.25rem;
                position: absolute;
                bottom: 0.35rem;
                left: 0;
                width: 100%;
            }
        };
        height: 3rem;
        line-height: 3rem;
        float: left;
        display: block;
    }
}

.slideOutLeftLogo {
    animation-name: slideOutLeftLogo;
}

.slideInLeftLogo {
    animation-name: slideInLeftLogo;
}
.noSlideInLeftLogo{
      transform: translate3d(0,0,0) !important;
}
@keyframes slideOutLeftLogo {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }

    to {
        // visibility:hidden;
        transform: translate3d(-64px,0,0);
    }
}
@keyframes slideInLeftLogo {
    0% {
        transform: translate3d(-64px,0,0);
        // visibility: visible
    }

    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}
