
.section--index,
header {
    padding: 1rem;
}

.section {
    height: calc(100% - #{$header-height});
    @include m(index) {
        position: relative;
        @include breakpoint(medium) {
             @include grid-row;
            position: relative;

            .container,
            footer {
                @include grid-col(6,0);
                height: 100%;
                position: relative;
            }

            .content {
                @include vertical-center;
                // width: 50%;
            }
        }
        @include breakpoint(medium ) {
             @include breakpoint(portrait ){
                padding: 4rem;
            }
        }
        @include breakpoint(large) {
            padding: 4rem;
        }
    }
}

.container {
    @include breakpoint(small only) {
         @include breakpoint(portrait){
            margin-top: 2rem;
        }
    }
}

footer {
    @include breakpoint(small only) {
         @include breakpoint(portrait){
            position: absolute;
            bottom: 0;
            width: calc(100% - 2rem);
            margin-bottom: 3rem;
        }
    }

    .logo_container {
        @include breakpoint(medium) {
             @include absolute-center;
        }
    }
}
