doctype html
html.no-js(lang='')
    head
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        title DevelopYuk!
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='apple-touch-icon', href='apple-touch-icon.png')
        link(rel='stylesheet', href='css/main.css')
        block body-css
    body
        block body
        block body-js
        script(src='//code.jquery.com/jquery-3.1.1.slim.min.js')
        script(src='js/main.js')
        block body-js2
        script
            block body-script
